$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1DA4A4;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

.form-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h2 {
      text-align: center;
      margin-top: -10px;
  }

}

.form {
  background:#FFFFFF;
  padding: 40px;
  max-width:550px;
  margin:40px auto;
  box-shadow: 2px 4px 10px rgba(81, 102, 102, 0.3);
  border-radius: 30px;
  font-family:Ubuntu;
  font-style: normal; 
  a {
    text-decoration:none;
    color: #595E62;
    transition:.5s ease;
    &:hover {
      color:$main-dark;
    }
  }
  

}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  border: 1px solid #B1B7BC;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    border-radius: 10px 10px 10px 10px;
    padding:15px;
    background:#FFFFFF;
    color:#333333;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}




label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color: #595E62;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:#595E62;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:none;
  border-bottom:  1px solid #1DA4A4 ;
  color:$white;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  border-radius: 50px;
  outline:none;
  padding:15px 0;
  font-size:1.3rem;
  width: 150px;
  margin-left: 300px;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#E55266;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:rgb(228, 54, 77);
  }
}

.button-block {
  display:block;
  
}

.forgot {
  margin-top:-20px;
  text-align:right;
}